#head{
    font-size: 2.5rem;
    font-weight: 600;
    position: relative;
    bottom: 3rem;
    text-align: center;
}
#head2{
    font-size: 2.5rem;
    font-weight: 600;
    position: relative;
    top: 7.5rem;
    text-align: center;
}
.coatainer2{
    position: relative;
    top: 10.5rem;
}
#head3{
    font-size: 2.5rem;
    font-weight: 600;
    position: relative;
    top: 17rem;
    text-align: center;
}
.coatainer3{
    position: relative;
    top: 20rem;
}
#head4{
    font-size: 2.5rem;
    font-weight: 600;
    position: relative;
    top: 26.7rem;
    text-align: center;
}
.coatainer4{
    position: relative;
    top: 29.7rem;
}
#head5{
    font-size: 2.5rem;
    font-weight: 600;
    position: relative;
    top: 34.7rem;
    text-align: center;
}
.coatainer5{
    position: relative;
    top: 37.7rem;
}
#head6{
    font-size: 2.5rem;
    font-weight: 600;
    position: relative;
    top: 42.7rem;
    text-align: center;
}
.coatainer6{
    position: relative;
    top: 45.7rem;
}










footer{
    position: relative;
    top: 100rem;
}